* {
  color: white;
}
html {
  background-color: rgb(20, 20, 20);
}
article {
  padding: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
}
img {
  width: 25%;
  /* aspect-ratio: 1/1; */
}

h1 {
  width: 100%;
  text-align: center;
}
p {
  font-size: 1.25em;
}
