:root {
  scrollbar-color: rgb(128, 24, 24) rgb(24, 24, 24);
  scrollbar-width: 1rem;
  /* font-family: 'Days One', sans-serif; */
  font-family: "Outfit", sans-serif;
}

* {
  color: white;
}

*::-webkit-scrollbar {
  width: 1rem;
  background-color: rgb(24, 24, 24);
}
*::-webkit-scrollbar-thumb {
  background-color: rgb(100, 0, 0);
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: rgb(128, 24, 24);
}

::selection {
  color: white;
  background: rgb(128, 24, 24);
}

html {
  max-width: 100vw;
  background: rgb(16, 16, 16);
  overflow-y: scroll;
}

.glassmorphic {
  background-color: rgba(128, 128, 128, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(7px);
  /* -webkit-backdrop-filter: blur(7px); */
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.3);
}

main {
  width: 100%;
  margin-bottom: 8vh;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
}

.header_div {
  border-radius: 0.5vw;
  margin: 2vh auto 0 auto;
  max-height: 30vh;
  display: flex;
  flex-direction: column;
  padding: 2vh;
}

.h_title {
  text-align: center;
  font-size: 3vw;
}

.h_desc {
  text-align: center;
  font-size: 1.5vw;
}

main {
  padding: 2vh 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
}

.post {
  display: flex;
  border-radius: 0.5vw;
  flex-direction: column;
  align-items: center;
  width: 95%;
  position: relative;
  padding-bottom: 3vh;
}

.post_id {
  height: 100%;
  width: 5vw;
}

.post_id p {
  width: 100%;
  text-align: center;
}

.post_img {
}

.post_img--img {
  height: 100%;
  object-fit: cover;
  width: 30vw;
}

.post_title {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.post_title p {
  font-size: 1.75vw;
  text-align: center;
}

.post_title hr {
  position: absolute;
  bottom: -0.5vh;
  width: 80%;
  color: rgba(255, 255, 255, 0.5);
  height: 1px;
}

.post_uppercontainer,
.post_lowercontainer {
  width: 100%;
  padding: 2.5vh;
  min-height: 10vh;
}

.post_uppercontainer {
  height: 20vh;
  display: flex;
}

.post_uppercontainer > * {
  height: 100%;
  display: flex;
  align-items: center;
}

.post_lowercontainer {
}

.post_lowercontainer p {
  font-size: 1.25vw;
  width: 95%;
  text-align: justify;
  padding-bottom: 1vw;
  line-height: 1.4;
}

.post_date {
  position: absolute;
  height: 3vh;
  font-size: 1.5vh;
  bottom: 1vh;
  right: 1vh;
}

textarea {
  color: black;
  font-size: 1.25vw !important;
  font-family: Arial, Helvetica, sans-serif !important;
  width: 95%;
  min-height: 30vh;
}
